:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;

  --main-font: 'Fira sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--main-font);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  background: var(--dark);
  color: var(--gray);
}

/* Styling for Buttons */
.pink-gradient {
  background: none;
  border: none;
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: 800;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.pink-gradient:hover {
  opacity: 0.7;
}

.pink-gradient:active {
  opacity: 0.5;
}
